In [1]:
#Function- set of statment that may or may not take input and return output
#User defined function is a function that gets defined by user to do some task

In [3]:
def funcx():
  return "first function"
funcx()# call function

'first function'

In [7]:
# lets create a function that calculates the income tax

def tax_calculations():
  income = float(input("enter your income here?"))
  taxes =0
  if income <10000:
    print('no tax, please check welfare support')
  elif income >10000 and income <25000:
    print(f'tax will be {income* 0.1}')
  elif income >=25000 and income < 50000:
    taxes= income*0.15
  elif income >=50000 and income <80000:
    taxes = income*0.2
  elif income >= 80000 and income <100000:
    taxes = income *0.3
  elif income >=100000:
    taxes = income * 0.35
  else:
    print("something is wrong")
    return "something is wrong"
  return taxes

In [8]:
#call function

tax_calculations()

enter your income here?50000

10000.0

In [ ]:
#Passing parameter/argument

In [10]:
def defx(cname):
  print(cname + "shirt")

In [11]:
#call function and pass parameter
defx("red")

redshirt

In [14]:
# passing a default value when we don't pass a value

def funx(ocean="pacific"):
  print(f"might {ocean} ocean")
funx()

might pacific ocean

In [16]:
#default parammeter will be overwritten when we pass value
funx("atlantic")

might atlantic ocean

In [ ]:
#when a function is designed to return anything , it returns None

In [18]:
def linear(m,x,c=2):
  return m*x + c
  #y =mx+c

In [20]:
y= linear(10,3)

In [37]:
y
y
y

13

In [23]:
#can return multiple arguments

def defy(a,b,c):
  return a +b , b+c ,"hello"
defy(6,5,8)  # or

(11, 13, 'hello')

In [26]:
x, y ,z = defy(6,5,8)
y, x, z

(13, 11, 'hello')

In [34]:
# lets create a function that calculates the income tax by passing a parameter

def tax_calculations(income):
  taxes =0
  if income <10000:
    print('no tax, please check welfare support')
  elif income >10000 and income <25000:
    print(f'tax will be {income* 0.1}')
  elif income >=25000 and income < 50000:
    taxes= income*0.15
  elif income >=50000 and income <80000:
    taxes = income*0.2
  elif income >= 80000 and income <100000:
    taxes = income *0.3
  elif income >=100000:
    taxes = income * 0.35
  else:
    print("something is wrong")
    return "something is wrong"
  return taxes

In [36]:
amount = tax_calculations(10001)

tax will be 1000.1

In [39]:
def  funca(name, age= 22):
       print(name, age)
funca('jack', 23)

jack 23

In [40]:
def fun(a1 = 1, a2 = 9):
         print(f'The numbers lies between {a1}  to  {a2}')
fun(10, 19)

The numbers lies between 10  to  19

In [41]:
def funcx(a1 ,a2):
       a1= 2
       a2= 3
       print(a1, ' ', a2)
funcx()

TypeError: funcx() missing 2 required positional arguments: 'a1' and 'a2'

In [42]:
def  salary(a, b):
      return a + b
total_salary = salary(7000, 1040)
print(total_salary)

8040

In [43]:
def fun1(val):
      return val + 34
x = fun1(-34)
print(x)

0

In [44]:
def fun1(a, b, c):
      return (a+b+c) - (b**c)
y = fun1(11, 8, 1)
print(y)

12